/*=====공통 CSS부문========*/
*{margin: 0px;padding: 0px;}
*{box-sizing: border-box;}
a{
    text-decoration: none;
    color: black;
}
li{list-style-type: none;}
/*==========헤더==============*/
#header{
    display: flex;
    justify-content: space-between;
    margin: 15px ; /*구역 가로 가운데 자동정렬*/
}
.header-logo{
    font-size: 30px;
    font-weight: bold;
    display: flex;
}
.header-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*========대표 이미지===========*/
#main-img{
   width: 1280px;
   
}

