/*===== 공통 CSS구역 =====*/
*{  
    padding: 0px; margin: 0px;
    box-sizing: border-box;
}
li{ list-style: none; }
a{  
    text-decoration: none;
    color: black;
}
#{

}
/*===== 로그인 상단CSS구역 =====*/
