/* CSS 주석처리 */
/*
    [CSS 구조]
        선택자 { 속셩명 : 값 ;}
    [CSS 선택자]
        1. *        : 전체선택자
        2. 마크업명  : 마크업선택자
        3. . 클래스    : 클래스선택자   (복수) 
        4. #아이디   : 아이디선택자   (단일)
       - 중복일때는 코드작성순으로 마지막코드의 속성dl 적용
       - 일반적으로 최대한 클래스 선택자를 활용하고 특정한 부분만
        아이디 선택자를 적용한다.
       5. 다중선택자 : 여러개 선택자를 한번에 적용
        선택자A , 선택자B { 속성명 : 값 ; }
        6. 자식
        7. 자손
*/
*{ color: red; }
h4{ color:blue; }
.구역1{ color : yellow; }
.구역3{ color: beige; }
#구역2{ color: brown;}
#구역4{ color : black; }
h5, h6{ color: pink; }
div > h3{ color : green; }
div h3{ color: purple; }


