/**{
    border: solid 1px red;
    padding: 3px;
}*/
.container{
   width: 300px;
   margin: 0 auto;
   text-align:center;
   box-shadow: 3px 3px 8px pink;
   border-radius: 15px;
   padding: 5px 0px 20px 0px;
}
.input-id, .input-pwd{
    width: 150px;
    height: 30;
    padding: 0px 15px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px 20px;
    margin-bottom: 5px 0px 15px 0px;
}
.input-btn{
    background-color: blue;
    color: white;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px 20px;
    margin-bottom:5px 0px 15px 0px;
}
a{text-decoration: none;}
.foot{
    font-weight: 500;
    font-size: 13px;
}


  