/*=====공통 CSS부문========*/
*{margin: 0px;padding: 0px;}
*{box-sizing: border-box;}
a{
    text-decoration: none;
    color: black;
}
li{list-style-type: none;}
/*=====헤더 CSS부문======*/

#header{
    display: flex;/*하위요소 배치방법*/
    justify-content: space-between;/*양쪽 끝 균등 가로*/
    align-items: center;/*세로정렬*/
    width: 1280px;
    margin: 10px auto;

}
.top-menu{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
    font-size: 12px;

}
.top-menu > li{margin-left:30px ;}
.main-menu{
    display: flex; justify-content: flex-end;
    margin: 30px 0px;
    font-size: 20px;
    font-weight: bold;
}
.main-menu > li{margin-left: 70px;}

/*=====대표이미지 CSS부문======*/
#main-img > img{
    width: 100%; /*100% :디바이스(회면)의 전체비율*/

}
#main{
    display: flex;
    justify-content: space-between;/*가로균등정렬*/
    width: 1280px;
    margin: 20px auto;


}
.sidebar{
    width: 250px;
}
.content{
    width: 1000px;
}
.sidebar>h3{
    background-color: grey;
    padding: 10px;
    color: white;

}
.sidebar > ul > li{
    border-bottom: 1px solid gray;
    padding: 10px;
}
.content>h3{
    font-size: 20px;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 20px;    
    margin-bottom: 20px;
}
.content > img{
    display: block;
    margin: 0 auto;

}

/*=====푸터 CSS부문======*/
#footer{
    background-color: black;
    color: white;
}
.footer-inner{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    padding: 30px ;

}
.title{
    display: flex;
    
}
#img{
width: 50px;
}